<div class="centered-content">
    <div class="delivery-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Deliveries
            </h1>

            <div class="delivery-menu">
                <a class="delivery-menu-items is-active">
                    <p>Burns Meat</p>
                </a>
                <a class="delivery-menu-items">
                    <p>Abby Foods</p>
                </a>
                <a class="delivery-menu-items">
                    <p>Burns Meat</p>
                </a>
            </div>

            <button class="button is-primary has-text-white">+ New Delivery</button>

        </div>

        <div class="delivery-items-container has-background-light">
            <h1 class="title has-text-primary">
                Products
            </h1>
            <div class="delivery-title">
                <p class="subtitle">Title</p>
                <p class="subtitle">Description</p>
                <p class="subtitle">Price</p>
            </div>

            <!-- Delivery Elements -->
            <div class="delivery">
                <p>Venison</p>
                <p>This is a description</p>
                <p>$12</p>
            </div>
            <div class="delivery">
                <p>Venison</p>
                <p>This is a description</p>
                <p>$12</p>
            </div>
            <div class="delivery out-of-stock">
                <p>Venison</p>
                <p>This is a description</p>
                <p>$12</p>
            </div>
            <div class="delivery">
                <p>Venison</p>
                <p>This is a description</p>
                <p>$12</p>
            </div>
        </div>
    </div>
</div>