<div class="centered-content">
    <div class="delivery-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                suppliers
            </h1>
            <div class="delivery-menu">
                <a class="delivery-menu-items" *ngFor="let suppliers of suppliers" [routerLink]="['/suppliers', suppliers._id]" routerLinkActive="is-active">
                    <p>{{suppliers.SupplierName}}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white" routerLink="/new-supplier">+ New Delivery</button>

        </div>

        <div class="delivery-items-container has-background-light">
            <h1 class="title has-text-primary">
                Products
            </h1>
            <div class="delivery-title">
                <p class="subtitle">Title</p>
                <p class="subtitle">Description</p>
                <p class="subtitle">Price</p>
            </div>

            <!-- Delivery Elements -->
            <div class="delivery" *ngFor="let products of products">
                <p>{{products.title}}</p>
                <p>{{products.Description}}</p>
                <p>{{products.Price}}</p>
            </div>

            <div routerLink="./new-product" class="circle-add-button button is-primary">
                <img  src="../../../assets/plus-icon.svg" alt="plus icon">
            </div>
         
           
        </div>
    </div>
</div>