<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a new product</h1>
        <input #ProductInput class="input has-background-light is-medium" type="text" placeholder="Product Name">
        <input #Description class="input has-background-light is-medium" type="text" placeholder="Description">
        <input #Price class="input has-background-light is-medium" type="number" placeholder="Price">
        <div class="buttons is-right">
            <button class="button is-danger has-text-white is-medium" routerLink="/">
                Cancel
            </button>
            <button class="button is-primary has-text-white is-medium"
                (click)="crateProduct(ProductInput.value, Description.value, Price.value)">
                Create
            </button>
        </div>
    </div>
</div>